
<div class="container p-4">

  <% if not notice.blank? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="jumbotron" id="rate-content">
    <p class="lead<% if not @rate.zero? %> d-none<% end %>" id="rate-is-loading">
      курс загружается...
    </p>
    <h1 class="display-4<% if @rate.zero? %> d-none<% end %>" id="rate-value">
      <%= @rate.rate %>
      <span class="small">рублей за доллар</span>
    </h1>

    <hr class="my-4">

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="<%= admin_path %>" role="button">
      	Временно изменить
      </a>
    </p>

  </div>
</div>
